.buttonBox{
    padding: 17.6px 32px;
    border-right: 1px solid var(--stroke);
    transition: all ease .2s;
    height: 100%;
    align-items: center;
}

.buttonBox:hover{
    background: #607b963e;
}

.buttonBoxActive{
    border-bottom: 2px solid #FEA55F;
}

.button{
    color: var(--color);
}

.buttonBoxActive>.button{
    color: var(--color-active);
}

@media only screen and (max-width: 1024px) {
    .buttonBox{
        border-right: none;
        border-bottom: 1px solid var(--stroke);
    }

    .buttonBoxActive{
        background-color: var(--color-active);
    }

    .buttonBoxActive>.button{
        color: var(--bg-primary);
        font-weight: bold;
    }
}