.container{
    position: fixed;
    /* z-index: -1; */
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    padding-right: 20vw;
    padding-top: 5vw;
}

.blob {
    filter: blur(80px);
    opacity: .3;
}

.blob path {
    animation: blob 7s linear infinite, rot 53s linear infinite;
}

@keyframes blob {
    0% {
        d: path("M417.5,302Q393,354,344,371.5Q295,389,247,398Q199,407,138.5,391Q78,375,66,312.5Q54,250,63.5,185.5Q73,121,136,106.5Q199,92,254,79.5Q309,67,329.5,122Q350,177,396,213.5Q442,250,417.5,302Z");
   }
    25% {
        d: path("M412.5,304Q399,358,342.5,360Q286,362,231.5,418Q177,474,120.5,429.5Q64,385,84,317.5Q104,250,107.5,199.5Q111,149,163,146Q215,143,262.5,104Q310,65,347.5,108.5Q385,152,405.5,201Q426,250,412.5,304Z");
   }
    50% {
        d: path("M467,317.5Q436,385,380,430.5Q324,476,259,449.5Q194,423,163.5,379Q133,335,132.5,292.5Q132,250,120,198.5Q108,147,151.5,114Q195,81,247,89.5Q299,98,346,122Q393,146,445.5,198Q498,250,467,317.5Z");
   }
    75% {
        d: path("M412.5,304Q399,358,342.5,360Q286,362,231.5,418Q177,474,120.5,429.5Q64,385,84,317.5Q104,250,107.5,199.5Q111,149,163,146Q215,143,262.5,104Q310,65,347.5,108.5Q385,152,405.5,201Q426,250,412.5,304Z");
   }
    100% {
        d: path("M417.5,302Q393,354,344,371.5Q295,389,247,398Q199,407,138.5,391Q78,375,66,312.5Q54,250,63.5,185.5Q73,121,136,106.5Q199,92,254,79.5Q309,67,329.5,122Q350,177,396,213.5Q442,250,417.5,302Z");
   }
}

@keyframes rot {
    fom {
        transform: rotate(0deg);
   }
    to {
        /* transform: rotate(360deg); */
   }
}